<main id="main" class="main" >
    <!-- <div class="card-footer" *ngIf="showAlert">
        <div class="alert alert-success">
            <strong>{{message}}</strong>
            <button (click)="closeAlert()" class="close">
                <span aria-hidden="true" >&times;</span>
            </button>
        </div>
    </div> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <!-- <div class="card-footer" *ngIf="showAlert">
        <div class="alert alert-success alert-dismissible fade show" role="alert"> 
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()">
            </button>
        </div>
    </div> -->
    <div class="pagetitle">
       <!-- <h1>Add New VMS</h1> -->
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">sales</li>
             <li class="breadcrumb-item active">Interview</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
           <div class="col-md-12">
                <div class="card">
                   <div class="card-body">
                        <ul class="nav navbar-right ">
                            <li>
                                <h5 class="card-title">All Interview</h5>
                            </li>
                            <!-- <li style="margin-left:500px">
                                <h5 class="card-title float-right">All Vms Records</h5>
                            </li> -->

                            <li style="margin-left:100px">
                                <h5 class="card-title float-right"><a [routerLink]="['/register-interview']"><i class="ri-add-circle-line"></i>new</a></h5>
                            </li>
                            <!-- <li>
                                <h5 class="card-title">All VMS rrr</h5>
                            </li> -->
                        </ul>
                        <div class="clearfix"></div>
                        <div class="row">
                            <table class="table table-light table-bordered ">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Consultant</th>
                                        <th>date&TimeOfInterview</th>
                                        <th>Round</th>
                                        <th>Mode</th>
                                        <th>Vendor</th>
                                        <th>date Of submission</th>
                                        <th>Employer Name</th>
                                        <th>Interview Status</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of entity">
                                        <td>{{s.consultantname}}</td>
                                        <td>{{s.interviewDate}}</td>
                                        <td>{{s.round}}</td>
                                        <td>{{s.modeofintr}}</td>
                                        <td>{{s.vendor}}</td>
                                        <td>{{s.dateofsubmission}}</td>
                                        <td>{{s.uname}}</td>
                                        <td>{{s.interviewstatus}}</td>
                                        <td>
                                            <ng-container *ngIf="s.status == 'Active'; then trueCondition else elseTemplate"></ng-container>
                                                <ng-template #trueCondition>
                                                    <span class="badge bg-info text-dark"  (click)="edit(s)" data-bs-toggle="modal" data-bs-target="#verticalycentered">{{s.status}}</span>
                                                </ng-template>
                                                <ng-template #elseTemplate>
                                                    <span class="badge bg-danger" (click)="edit(s)" data-bs-toggle="modal" data-bs-target="#verticalycentered">{{s.status}}
                                                    </span>
                                                </ng-template>
                                        </td>
                                        <td><a [routerLink]="['/edit-interview',s.intrid]"> <i class="ri-edit-2-fill"></i> </a>&nbsp;
                                            <!-- <button class="btn btn-danger" (click)="deleteVendor(s.id)">Delete</button> -->
                                            <a href="" (click)="deleteEntity(s.intrid)"> <i style="color:maroon" class="ri-delete-bin-fill "></i> </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </section>
 </main>


 <div class="modal fade" id="verticalycentered" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title">Please Enter Remarks</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="registerForm">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group">
                                <textarea required formControlName="remarks"  class="form-control rounded-2" placeholder="Feed Back" [ngClass]="{ 'is-invalid': submitted && f.feedback.errors }" style="height: 100px;"></textarea>
                                     <!-- <textarea required [(ngModel)]="intentity.remarks"  class="form-control rounded-2" placeholder="Please write remarks"  -->
                                     <!-- formControlName="remarks" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }"  id="othdet" style="height: 80px;"></textarea> -->
                            </div>
                            <!-- <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
                                <div *ngIf="f.remarks.errors.required">Please Enter Reason</div>
                            </div> -->
                        </div>
                    </div>
                </fieldset>
            </form>
            </div>
          <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
            <button type="button" class="btn btn-primary" (click)="UpdateVendor()"  data-bs-dismiss="modal">Update</button></div>
       </div>
    </div>
 </div> 