
<main style="background-color: block;">
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-md-8 d-flex flex-column align-items-center justify-content-center">
                   <div class="d-flex justify-content-center py-4"> <a routerLink="/" class="logo d-flex align-items-center w-auto"> 
                    <img width="200px" height="450px" src="assets/img/narvee-logo.png" alt=""> <span class="d-none d-lg-block"></span> </a></div>
                   <div class="card mb-6">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Please Enter your Register Email </h5>
                            <div *ngIf="message!==''">
                                <p class="text-center small" ><b class="succes" style="color:rgb(70, 131, 70)">Reset Link sent to registered mail address</b></p>
                            </div>
                         </div>
                         
                         <form class="row g-5 needs-validation" novalidate (ngSubmit)="registernow()">
                            <div class="col-12">
                               <label for="yourUsername" class="form-label">Email Address</label>
                               <div class="input-group has-validation">
                                  <span class="input-group-text" id="inputGroupPrepend">@</span> <input type="text"  [(ngModel)]="email" name="email" class="form-control" id="yourUsername" required>
                                  <div class="invalid-feedback">Please enter your username.</div>
                               </div>
                            </div>
                            <div class="col-12"> <button class="btn btn-primary w-100" type="submit">Submit</button></div>
                         </form>
                      </div>
                   </div>
                   <div class="credits"> 
                    <!-- Loved by <a href="https://freeetemplates.com/">FreeeTemplates</a> -->
                </div>
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>